################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Release
/x64/Release
/IconInfo.VC.VC.opendb
/IconInfo.VC.db
